body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-height: 400px) {
    .angular-google-map-container {
     height: 300px;
    }
}

@media (min-height: 401px) and (max-height: 600px) {
    .angular-google-map-container {
     height: 450px;
    }
}

@media (min-height: 601px) {
    .angular-google-map-container {
     height: 500px;
    }
}

